[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
keras = "*"
mido = "*"
tensorflow = "*"
pandas = "*"
swifter = "*"
scikit-learn = "*"
pydot = "*"
graphviz = "*"
pydotplus = "*"
pydot-ng = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
ipython = "*"
black = "*"


[requires]
python_version = "3.7"
